.idea/
.idea/*
**/.idea/
__pycache__/
__pycache__/*
*/__pycache__/*
**/__pycache__/
__pycache__/**
**/__pycache__/**

plang/programs/
!plang/programs/.gitkeep

plang/testing/logs/correct/
plang/testing/logs/false-correct/
plang/testing/logs/false-incorrect/
plang/testing/logs/incorrect/
!plang/testing/logs/correct/.gitkeep
!plang/testing/logs/false-correct/.gitkeep
!plang/testing/logs/false-incorrect/.gitkeep
!plang/testing/logs/incorrect/.gitkeep
